/****** Main Styling ******/

/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  background-color: black;
  color: #fff;
}

h1 {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

main {
  margin: 10px auto;
  border-left: 1px dotted red;
  max-width: 800px;
  text-align: left;
  padding: 10px 20px;
}

p,h3,ul {
  padding: 10px;
}

ol li {
  list-style-type:none;
  margin: 10px 0;
}

code {
  background-color: green;
}


footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

a{
  color: green;
}

a:hover {
  text-decoration: none;
}

form {
  border: solid 1px white;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type=url] {
  width: 250px;
  text-align: center;
}

input[type=submit] {
  margin: 0 20px;
  font-size: 2.5em;
}

input[type=submit]:hover {
  color:green;
}